[loggers]
keys=root,railib

[handlers]
keys=stream_handler

[formatters]
keys=fmt

[logger_root]
level=INFO
handlers=stream_handler

[logger_railib]
level=DEBUG
handlers=stream_handler
qualname=railib

[handler_stream_handler]
class=StreamHandler
level=DEBUG
formatter=fmt
args=(sys.stdout,)

[formatter_fmt]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
